## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [2]:
# Your code here - remember to use markdown cells for comments as well!

In [3]:
import pandas as pd
import numpy as nm
from os import listdir

In [4]:
#helper to list all csv or type files in a dir
def find_csv_filenames( path_to_dir, suffix=".csv"):
    filenames = listdir(path_to_dir)
    return [ filename for filename in filenames if filename.endswith( suffix ) ]

#creates dataframes for type specified
def create_df(filelist, suffix=".csv" ):
    for file in filelist:
        file = pd.read_csv(file)

In [5]:
csvfiles = find_csv_filenames('zippedData')
tsvfiles = find_csv_filenames('zippedData','.tsv')
csvfiles

['bom.movie_gross.csv',
 'imdb.name.basics.csv',
 'imdb.title.akas.csv',
 'imdb.title.basics.csv',
 'imdb.title.crew.csv',
 'imdb.title.principals.csv',
 'imdb.title.ratings.csv',
 'tmdb.movies.csv',
 'tn.movie_budgets.csv']

In [6]:
tsvfiles

['rt.movie_info.tsv', 'rt.reviews.tsv']

In [7]:
##Create DataFrames for all files
df_bom = pd.read_csv('zippedData/bom.movie_gross.csv')
df_imdb_name = pd.read_csv('zippedData/imdb.name.basics.csv')
df_imdb_akas = pd.read_csv('zippedData/imdb.title.akas.csv')
df_imdbbasics = pd.read_csv('zippedData/imdb.title.basics.csv')
df_imdb_crew = pd.read_csv('zippedData/imdb.title.crew.csv')
df_imdb_principals = pd.read_csv('zippedData/imdb.title.principals.csv')
df_imdb_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv')
df_tmb = pd.read_csv('zippedData/tmdb.movies.csv')
df_tn_movie_budget = pd.read_csv('zippedData/tn.movie_budgets.csv')
df_rott_info = pd.read_csv('zippedData/rt.movie_info.tsv', sep='\t')
df_rott_rev = pd.read_csv('zippedData/rt.reviews.tsv',encoding= 'unicode_escape', sep='\t')

In [8]:
##Bom Movie DB
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

It looks as if the data is for 2010 to 2018 movies of domestic and foreign gross in dollars.

In [ ]:
##IMDB
df_imdb_name.info()
df_imdb_akas.info()
df_imdbbasics.info()
df_imdb_crew.info()
df_imdb_principals.info()
df_imdb_ratings.info()

In [ ]:
print(df_imdb_name.head(3))
print(df_imdb_akas.head(3))
df_imdbbasics.tail(3)
df_imdb_crew.head(3)
df_imdb_principals.head(3)
df_imdb_ratings.head(3)

In [ ]:
##The Movie DB
df_tmb.info()

In [ ]:
df_tmb.tail(3)

In [ ]:
##The Numbers
df_tn_movie_budget.info()

In [ ]:
df_tn_movie_budget.tail(3)

In [ ]:
##Rotten Tomatoes
df_rott_info.info()
df_rott_rev.info()

In [ ]:
df_rott_info.head(5)

In [ ]:
df_rott_rev.head(3)

Inspect for Missing Data

In [ ]:
df_bom.describe()
df_imdb_name
df_imdb_akas
df_imdbbasics
df_imdb_crew
df_imdb_principals 
df_imdb_ratings
df_tmb 
df_tn_movie_budget 
df_rott_info
df_rott_rev

### Clean df_BOM(Box Office Mojo) data

In [330]:
df_bom.isna().sum()

title                0
studio               0
domestic_gross       0
foreign_gross     1349
year                 0
dtype: int64

In [109]:
df_bom.shape

(3387, 5)

In [171]:
df_bom.sort_values(by=['year'], ascending=False)

,title,studio,domestic_gross,foreign_gross,year
3386,An Actor Prepares,Grav.,1700.0,NaN,2018
3183,On the Basis of Sex,Focus,24600000.0,13600000.0,2018
3176,Tyler Perry's Acrimony,LGF,43500000.0,2900000.0,2018
3177,Mary Queen of Scots,Focus,16500000.0,29900000.0,2018
3178,The Possession of Hannah Grace,SGem,14800000.0,28200000.0,2018
...,...,...,...,...,...
220,After.Life,Anch.,109000.0,1900000.0,2010
221,Cairo Time,IFC,1600000.0,391000.0,2010
222,Flipped,WB,1800000.0,NaN,2010
223,Guzaarish,UTV,1000000.0,695000.0,2010
0,Toy Story 3,BV,415000000.0,652000000.0,2010

In [331]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3356 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3356 non-null   object
 1   studio          3356 non-null   object
 2   domestic_gross  3356 non-null   float64
 3   foreign_gross   2007 non-null   float64
 4   year            3356 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 157.3+ KB

In [168]:
#Convert string to numeric values...5 or so of the billions needed to be converted
df_bom['foreign_gross'] = pd.to_numeric(df_bom['foreign_gross'])

In [267]:
df_bom = df_bom[df_bom['domestic_gross'].notna()]

In [274]:
df_bom = df_bom[df_bom['studio'].notna()]

In [275]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3356 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3356 non-null   object
 1   studio          3356 non-null   object
 2   domestic_gross  3356 non-null   float64
 3   foreign_gross   2007 non-null   float64
 4   year            3356 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 157.3+ KB

### A Few values needed to be converted to billions

In [268]:
df_bom.iloc[[3079]]

                     title studio  domestic_gross  foreign_gross  year
3107  Mary Poppins Returns     BV     172000000.0    177600000.0  2018

In [162]:
df_bom.iloc[[3079],[3]] =1369500000.0

In [269]:
df_bom[df_bom['foreign_gross'].isna()].sort_values(by='domestic_gross')

                      title studio  domestic_gross  foreign_gross  year
1476             Storage 24  Magn.           100.0            NaN  2013
2321        The Chambermaid     FM           300.0            NaN  2015
2757                Satanic  Magn.           300.0            NaN  2016
2756  News From Planet Mars     KL           300.0            NaN  2016
3078                   2:22  Magn.           400.0            NaN  2017
...                     ...    ...             ...            ...   ...
2866         47 Meters Down  ENTMP      44300000.0            NaN  2017
833         Red Dawn (2012)     FD      44800000.0            NaN  2012
2864         All Eyez on Me   LG/S      44900000.0            NaN  2017
1955               War Room   TriS      67800000.0            NaN  2015
3160              Book Club   Par.      68600000.0            NaN  2018

[1350 rows x 5 columns]

In [276]:
df_bom.isna().sum()

title                0
studio               0
domestic_gross       0
foreign_gross     1349
year                 0
dtype: int64

In [193]:
df_bom.foreign_gross.describe()

count    2.037000e+03
mean     7.766783e+07
std      1.472445e+08
min      6.000000e+02
25%      3.800000e+06
50%      1.900000e+07
75%      7.590000e+07
max      1.369500e+09
Name: foreign_gross, dtype: float64

In [228]:
#median for foreign gross is .66 the sum of averages of dom and for gross
#will use the stddev from population
def calculate_foreign_gross(dom_gross):
    for_gross_mean = .66 * dom_gross
    std = for_gross_mean/3
    for_gross = nm.random.normal(for_gross_mean,std)
    return for_gross

In [229]:
calculate_foreign_gross(68600000.0)

26544068.20370775

In [272]:
df_bom.isna().sum()

title                0
studio               3
domestic_gross       0
foreign_gross     1350
year                 0
dtype: int64

### Clean imdb_name data

In [288]:
df_imdb_name.shape

(606648, 6)

In [335]:
df_imdb_name.isna().sum()

nconst                    0
primary_name              0
primary_profession    51340
known_for_titles      30204
dtype: int64

In [289]:
#Can drop birth_year and death year
df_imdb_name = df_imdb_name.drop(columns=['birth_year','death_year'])

In [332]:
df_imdb_name.isna().sum()

nconst                    0
primary_name              0
primary_profession    51340
known_for_titles      30204
dtype: int64

In [291]:
df_imdb_name.head()

,nconst,primary_name,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [ ]:
df_imdb_name.isna().sum()

### Clean imdb_akas data

In [293]:
df_imdb_akas.shape

(331703, 8)

In [336]:
df_imdb_akas.isna().sum()

title_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64

In [337]:
df_imdb_akas.head(25)

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
5,tt0369610,15,Jurassic World,GR,NaN,imdbDisplay,NaN,0.0
6,tt0369610,16,Jurassic World,IT,NaN,imdbDisplay,NaN,0.0
7,tt0369610,17,Jurski svijet,HR,NaN,imdbDisplay,NaN,0.0
8,tt0369610,18,Olam ha'Yura,IL,he,imdbDisplay,NaN,0.0
9,tt0369610,19,Jurassic World: Mundo Jurásico,MX,NaN,imdbDisplay,NaN,0.0
10,tt0369610,1,Jurassic World: Sauruste maailm,EE,NaN,imdbDisplay,NaN,0.0
11,tt0369610,20,Jurassic World,SE,NaN,imdbDisplay,NaN,0.0
12,tt0369610,21,Jurassic World 3D,US,NaN,NaN,3-D version,0.0
13,tt0369610,22,Jurassic World 3D,DE,NaN,NaN,3-D version,0.0
14,tt0369610,23,Jurassic World 3D,XWW,NaN,NaN,3-D version,0.0
15,tt0369610,24,Juras laikmeta pasaule,LV,NaN,imdbDisplay,NaN,0.0
16,tt0369610,25,Mundo Jurássico,PT,NaN,imdbDisplay,NaN,0.0
17,tt0369610,26,Мир Юрского периода,RU,NaN,NaN,NaN,0.0
18,tt0369610,27,Jurský svět,CZ,NaN,NaN,NaN,0.0
19,tt0369610,28,Monde jurassique,CA,fr,imdbDisplay,NaN,0.0
20,tt0369610,29,Jurassic World,US,NaN,NaN,NaN,0.0
21,tt0369610,2,Ebb Tide,US,NaN,NaN,fake working title,0.0
22,tt0369610,30,Jurassic World: Mundo Jurásico,CL,NaN,imdbDisplay,NaN,0.0
23,tt0369610,31,Jurassic World,RO,NaN,imdbDisplay,NaN,0.0
24,tt0369610,32,Juros periodo pasaulis,LT,NaN,imdbDisplay,NaN,0.0

In [343]:
#Unsure if this data is useful
df_imdb_akas = df_imdb_akas[df_imdb_akas['is_original_title'] == 1.0]

In [344]:
df_imdb_akas.isna().sum()

title_id                 0
ordering                 0
title                    0
region               44694
language             44696
types                    0
attributes           44700
is_original_title        0
dtype: int64

In [345]:
df_imdb_akas.head(25)

,title_id,ordering,title,region,language,types,attributes,is_original_title
38,tt0369610,45,Jurassic World,NaN,NaN,original,NaN,1.0
80,tt0401729,7,John Carter,NaN,NaN,original,NaN,1.0
83,tt10010134,1,Versailles Rediscovered - The Sun King's Vanis...,NaN,NaN,original,NaN,1.0
86,tt10027708,1,Miguelito - Canto a Borinquen,NaN,NaN,original,NaN,1.0
90,tt10050722,1,Thing I Don't Get,NaN,NaN,original,NaN,1.0
93,tt10121294,1,This Jelly Doughnut Feeling,NaN,NaN,original,NaN,1.0
128,tt1014759,40,Alice in Wonderland,NaN,NaN,original,NaN,1.0
137,tt10214198,1,Gou yan kan ren xin,NaN,NaN,original,NaN,1.0
141,tt10225354,2,Volviendo a Casa,NaN,NaN,original,NaN,1.0
145,tt10225420,3,El Universo En Que Te Amé,NaN,NaN,original,NaN,1.0
146,tt10308634,1,My First Client,NaN,NaN,original,NaN,1.0
149,tt10351180,1,BadBoy,NaN,NaN,original,NaN,1.0
153,tt10379338,2,Guys Night Out,NaN,NaN,original,NaN,1.0
156,tt10446418,2,Icon,NaN,NaN,original,NaN,1.0
181,tt1179034,5,From Paris with Love,NaN,NaN,original,NaN,1.0
187,tt1182315,1,Negro Buenos Aires,NaN,NaN,original,NaN,1.0
216,tt1194173,32,The Bourne Legacy,NaN,NaN,original,NaN,1.0
225,tt1210047,2,Snatched!,NaN,NaN,original,NaN,1.0
237,tt1219289,19,Limitless,NaN,NaN,original,NaN,1.0
263,tt1220221,3,Motherland,NaN,NaN,original,NaN,1.0
272,tt1223236,1,African Cats,NaN,NaN,original,NaN,1.0
283,tt1227927,2,Caller ID,NaN,NaN,original,NaN,1.0
292,tt1233259,6,El Capitán Trueno y el Santo Grial,NaN,NaN,original,NaN,1.0
323,tt1235522,7,Broken City,NaN,NaN,original,NaN,1.0
332,tt1252507,1,The Way Home,NaN,NaN,original,NaN,1.0

### Clean imdb_basics data

In [347]:
df_imdbbasics.shape

(146123, 6)

In [346]:
df_imdbbasics.isna().sum()

tconst             0
primary_title      0
original_title     0
start_year         0
runtime_minutes    0
genres             0
dtype: int64

In [294]:
df_imdbbasics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [297]:
df_imdbbasics = df_imdbbasics[df_imdbbasics['original_title'].notna()]

In [304]:
df_imdbbasics['runtime_minutes'].fillna(0.0,inplace=True)

C:\Users\dsmith\anaconda3\envs\learn-env\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [305]:
df_imdbbasics.isna().sum()

tconst                0
primary_title         0
original_title        0
start_year            0
runtime_minutes       0
genres             5389
dtype: int64

In [307]:
df_imdbbasics.isna().sum()
df_imdbbasics['genres'].fillna('genre',inplace=True)

C:\Users\dsmith\anaconda3\envs\learn-env\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [308]:
df_imdbbasics.isna().sum()

tconst             0
primary_title      0
original_title     0
start_year         0
runtime_minutes    0
genres             0
dtype: int64

In [311]:
df_imdbbasics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,0.0,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

### Clean imdb_crew data

In [309]:
df_imdb_crew.shape

(146144, 3)

In [348]:
df_imdb_crew.isna().sum()

tconst       0
directors    0
writers      0
dtype: int64

In [310]:
df_imdb_crew.head(5)

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [312]:
df_imdb_crew['directors'].fillna('director',inplace=True)

In [316]:
df_imdb_crew.shape

(146144, 3)

In [314]:
df_imdb_crew['writers'].fillna('writer',inplace=True)

In [315]:
df_imdb_crew.isna().sum()

tconst       0
directors    0
writers      0
dtype: int64

### Clean imdb_principals data

In [317]:
df_imdb_principals.shape

(1028186, 6)

In [319]:
df_imdb_principals.tail()

,tconst,ordering,nconst,category,job,characters
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [320]:
df_imdb_principals['job'].fillna('job',inplace=True)

In [322]:
df_imdb_principals['characters'].fillna('character',inplace=True)

In [333]:
df_imdb_principals.isna().sum()

tconst        0
ordering      0
nconst        0
category      0
job           0
characters    0
dtype: int64

### Clean imdb_ratings data

In [ ]:
df_imdb_ratings.shape

In [284]:
df_imdb_ratings.isna().sum()

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [324]:
df_imdb_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

### Clean df_tmb data

In [325]:
df_tmb.shape

(26517, 10)

In [285]:
df_tmb.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

### Clean df_tn_movie_budget data

In [326]:
df_tn_movie_budget.shape

(5782, 6)

In [286]:
df_tn_movie_budget.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [16]:
df_rott_info.shape

(1560, 12)

In [334]:
df_rott_info.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [11]:
df_rott_rev.shape

(54432, 8)

In [12]:
df_rott_rev.isna().sum()

id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

In [ ]:
df_bom[df_bom['domestic_gross'] > 500000000.0]

look at budget data in bom, rott, tn
df_tn_movie_budget[df_tn_movie_budget['domestic_gross'] > 500000000.0]

In [ ]:
df_tn_movie_budget.head(3)

In [14]:
df_rott_rev.head(25)

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
8,3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
9,3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"
10,3,"Cosmopolis"" is a hypnotic examination of our m...",NaN,fresh,Tim Grierson,0,Deadspin,"February 12, 2013"
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013"
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013"
13,3,The anger over the injustice of the financial ...,B,fresh,Robert Roten,0,Laramie Movie Scope,"January 7, 2013"
14,3,For those who like their Cronenberg thick and ...,3/4,fresh,Marty Mapes,0,Movie Habit,"October 20, 2012"
15,3,For better or worse - often both - Cosmopolis ...,3/5,fresh,Adam Ross,0,The Aristocrat,"September 27, 2012"
16,3,For one of the smartest films I've seen in a w...,4/5,fresh,Patrick Kolan,0,Shotgun Cinema,"September 26, 2012"
17,3,Its major problem is that it's not cinematic.,B,fresh,Dennis Schwartz,0,Ozus' World Movie Reviews,"September 25, 2012"
18,3,It's fascinating to watch Pattinson actually a...,2/4,rotten,Sean P. Means,0,Salt Lake Tribune,"September 14, 2012"
19,3,A black comedy as dry and deadpan as a bleache...,4/4,fresh,John Beifuss,0,"Commercial Appeal (Memphis, TN)","September 10, 2012"
20,3,While 'Cosmopolis' is mostly emotionless and a...,6/10,fresh,Chris Sawin,0,Examiner.com,"September 7, 2012"
21,3,"In the past, Cronenberg has used such deadpan ...",1/4,rotten,Jason Buchanan,0,TV Guide,"September 7, 2012"
22,3,"... a movie about a sentient zombie, trapped i...",8,fresh,Philip Martin,0,Arkansas Democrat-Gazette,"September 7, 2012"
23,3,Those who said Don DeLillo's book was unfilmab...,2/5,rotten,Mike Scott,0,Times-Picayune,"September 7, 2012"
24,3,"The rapid dialogue is dry and mannered, like a...",2.5/4,rotten,Joe Williams,1,St. Louis Post-Dispatch,"September 6, 2012"

## data clean for df_rott_info

In [23]:
df_rott_info.head(25)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN
10,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films
12,19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing
13,20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968","May 20, 2008",NaN,NaN,97 minutes,NaN
14,21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997","Sep 20, 1999",NaN,NaN,106 minutes,NaN
15,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures
16,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
17,24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987","Mar 8, 2005",NaN,NaN,98 minutes,NaN
18,25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures
19,26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004","Sep 21, 2004",$,"1,971,135",96 minutes,MGM
20,27,NaN,NR,Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,28,Elvis goes Hawaiian for the second time in thi...,G,Classics|Comedy|Musical and Performing Arts|Ro...,NaN,Allan Weiss|Anthony Lawrence,"Jun 15, 1966","Jan 7, 2003",NaN,NaN,90 minutes,NaN
22,29,This futuristic adventure stars Lee Majors as ...,PG,Action and Adventure|Drama|Science Fiction and...,Martyn Burke,NaN,"Apr 1, 1981","May 10, 2011",NaN,NaN,101 minutes,NaN
23,33,Howard W. Campbell Jr. (Nick Nolte) is an Amer...,R,Action and Adventure|Drama|Mystery and Suspense,Keith Gordon,NaN,"Nov 1, 1996","Aug 22, 2000",NaN,NaN,114 minutes,NaN
24,34,Director John Woo brings Hong Kong-style marti...,PG-13,Action and Adventure|Mystery and Suspense,John Woo,William Goldman|John Logan|David Marconi|Micha...,"Dec 31, 2000","Nov 7, 2000",NaN,NaN,123 minutes,Paramount Pictures

In [30]:
#['id']['synopsis']['rating']['genre']['director']['theater_date']['box_office']['runtime']['studio']
df_rott_info.iloc[:,[0,1,2,3,4,6,9,10,11]]

,id,synopsis,rating,genre,director,theater_date,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,"Oct 9, 1971",NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,"Aug 17, 2012","600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,"Sep 13, 1996",NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,"Dec 9, 1994",NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,"Aug 18, 2006","33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,"Jul 23, 1993",NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,"Jan 1, 1962",NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,"Apr 1, 1993",NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,"Sep 27, 2001",NaN,94 minutes,Columbia Pictures

In [44]:
dftest = df_rott_info[df_rott_info['synopsis'].notna()]

In [49]:
dftest.isna().sum()

id                 0
synopsis           0
rating             0
genre              3
director         176
writer           400
theater_date     300
dvd_date         300
currency        1158
box_office      1158
runtime           13
studio          1005
dtype: int64

In [51]:
dftest = dftest[dftest['genre'].notna()]

In [52]:
dftest.shape

(1495, 12)

In [53]:
dftest.isna().sum()

id                 0
synopsis           0
rating             0
genre              0
director         174
writer           398
theater_date     297
dvd_date         297
currency        1155
box_office      1155
runtime           13
studio          1002
dtype: int64

In [55]:
dftest[dftest['director'].isna()].head(25)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
11,18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films
12,19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing
16,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
21,28,Elvis goes Hawaiian for the second time in thi...,G,Classics|Comedy|Musical and Performing Arts|Ro...,NaN,Allan Weiss|Anthony Lawrence,"Jun 15, 1966","Jan 7, 2003",NaN,NaN,90 minutes,NaN
30,42,"Warner Bros.' ""Perry Mason"" series quietly sli...",G,Action and Adventure|Classics|Drama|Mystery an...,NaN,Frederick Hugh Herbert,NaN,NaN,NaN,NaN,65 minutes,NaN
40,53,La autobiograf,PG,Drama|Romance,NaN,NaN,NaN,NaN,NaN,NaN,112 minutes,NaN
44,57,Life doesn't always go according to plan. Pat ...,R,Comedy,NaN,NaN,"Nov 21, 2012","Apr 30, 2013",$,"132,088,910",122 minutes,The Weinstein Company
49,63,A policeman plays Good Samaritan to a visitor ...,R,Action and Adventure|Drama|Mystery and Suspense,NaN,David Aaron Cohen|Kevin Jarre|Vincent Patrick|...,"Mar 26, 1997","Feb 24, 1998",NaN,NaN,111 minutes,NaN
66,84,Despite excellent camerawork and smooth contin...,NR,Drama,NaN,NaN,NaN,NaN,NaN,NaN,186 minutes,NaN
70,88,This gay-lifestyle comedy features aspiring ph...,R,Comedy|Romance,NaN,NaN,"Jul 24, 1998","Dec 22, 1998",NaN,NaN,92 minutes,NaN
71,89,Now hear this. The studio that gave the cinema...,NR,Comedy|Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,123 minutes,NaN
79,99,A woman finds herself attempting to foil one o...,PG-13,Comedy|Romance,NaN,NaN,"Dec 20, 2002","Apr 29, 2003",$,"93,300,000",102 minutes,Warner Bros.
84,105,Mark Twain's classic tale of comedy and advent...,NR,Animation|Kids and Family|Special Interest,NaN,NaN,NaN,NaN,NaN,NaN,60 minutes,NaN
89,111,Detective Rem Macy (Tom Berenger) is investiga...,R,Drama|Mystery and Suspense,NaN,NaN,"Nov 29, 2001","Mar 5, 2002",NaN,NaN,101 minutes,NaN
103,133,The popular anim,R,Action and Adventure|Animation|Drama|Science F...,NaN,Keiko Nobumoto|Marc Handler,"Apr 4, 2003","Jun 24, 2003",NaN,NaN,114 minutes,Destination Films
110,142,"In this film, Jerry Biffle is a moody and egot...",NR,Comedy|Musical and Performing Arts,NaN,Gene Towne,NaN,NaN,NaN,NaN,100 minutes,NaN
115,148,"Stuck in a life of indentured servitude, Marek...",NR,Action and Adventure|Science Fiction and Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,93 minutes,Arrowstorm Entertainment
119,152,A socially inept young woman slowly learns to ...,R,Comedy|Romance,NaN,NaN,"Mar 10, 1995","May 18, 1999",NaN,NaN,105 minutes,NaN
132,169,The true star of this film is a stately old ma...,NR,Classics|Drama|Faith and Spirituality,NaN,NaN,"Jan 21, 1943","Nov 10, 1998",NaN,NaN,106 minutes,NaN
153,199,"100 STREETS, a powerful ensemble drama, follow...",NR,Drama,NaN,Leon Butler,"Jan 13, 2017","Mar 7, 2017",NaN,NaN,93 minutes,NaN
157,205,F. W. Murnau's landmark vampire film begins in...,NR,Art House and International|Classics|Horror|Sc...,NaN,Henrik Galeen,"Mar 4, 1922","Oct 22, 1997",NaN,NaN,63 minutes,NaN
163,214,My Name Is Julia Ross is the first film noir m...,NR,Drama|Mystery and Suspense,NaN,Muriel Roy Bolton and Ian McLellan Hunter,NaN,NaN,NaN,NaN,65 minutes,NaN
169,223,"The Leningrad Cowboys, the self-proclaimed Wor...",NR,Documentary|Musical and Performing Arts,NaN,NaN,"Jul 2, 1994","Apr 26, 2005",NaN,NaN,54 minutes,NaN
177,234,"After losing his crew in a fatal crash, legend...",PG-13,Action and Adventure|Drama,NaN,Kelsie Kullman,"Sep 29, 2006","Jan 23, 2007",$,"54,983,983",15 minutes,Buena Vista Pictures
179,236,John Wayne once again goes undercover to catch...,NR,Classics|Western,NaN,NaN,"May 10, 1934","Jun 18, 2006",NaN,NaN,59 minutes,NaN

In [59]:
dftest.drop(columns=['currency','box_office', 'studio','dvd_date']).isna().sum()

id                0
synopsis          0
rating            0
genre             0
director        174
writer          398
theater_date    297
dvd_date        297
runtime          13
dtype: int64

In [70]:
dftest['runtime'] = dftest['runtime'].fillna('90 minutes')

In [78]:
dftest = dftest.drop(columns=['dvd_date'])

In [79]:
dftest.isna().sum()

id                0
synopsis          0
rating            0
genre             0
director        174
writer          398
theater_date    297
runtime           0
dtype: int64

In [80]:
dftest.shape

(1495, 8)

In [84]:
dftest = dftest[dftest['writer'].notna()]

In [85]:
dftest.isna().sum()

id                0
synopsis          0
rating            0
genre             0
director         68
writer            0
theater_date    162
runtime           0
dtype: int64

In [86]:
dftest.shape

(1097, 8)

In [87]:
dftest = dftest[dftest['theater_date'].notna()]

In [88]:
dftest.isna().sum()

id               0
synopsis         0
rating           0
genre            0
director        47
writer           0
theater_date     0
runtime          0
dtype: int64

In [89]:
dftest.shape

(935, 8)

In [90]:
dftest = dftest[dftest['director'].notna()]

In [91]:
dftest.isna().sum()

id              0
synopsis        0
rating          0
genre           0
director        0
writer          0
theater_date    0
runtime         0
dtype: int64

In [93]:
dftest.shape

(888, 8)

In [94]:
dftest.head(25)

,id,synopsis,rating,genre,director,writer,theater_date,runtime
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971",104 minutes
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012",108 minutes
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996",116 minutes
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994",128 minutes
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000",95 minutes
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002",82 minutes
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006",123 minutes
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010",117 minutes
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995",108 minutes
13,20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968",97 minutes
14,21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997",106 minutes
15,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010",108 minutes
17,24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987",98 minutes
18,25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013",127 minutes
19,26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004",96 minutes
24,34,Director John Woo brings Hong Kong-style marti...,PG-13,Action and Adventure|Mystery and Suspense,John Woo,William Goldman|John Logan|David Marconi|Micha...,"Dec 31, 2000",123 minutes
25,35,"In this film, conjoined twins Blake and Franci...",R,Drama,Michael Polish,Michael Polish|Mark Polish,"Jul 30, 1999",110 minutes
26,38,You'd think they would know better from their ...,R,Art House and International|Classics|Horror|My...,Roy Ward Baker,Anthony Hinds|John Elder,"Dec 23, 1970",96 minutes
27,39,A group of stoners at a rock festival is stalk...,R,Horror,David Arquette,David Arquette|Joe Harris,"Apr 20, 2007",97 minutes
28,40,John Sayles' Casa de los Babys tells the tale ...,R,Drama,John Sayles,John Sayles,"Sep 19, 2003",95 minutes
29,41,"Ken Loach directs Sweet Sixteen, a gritty dram...",R,Drama,Ken Loach,Paul Laverty,"May 16, 2003",106 minutes
32,44,Can death be a good career move? The star of B...,R,Comedy,Pauly Shore,Pauly Shore|Kirk Fox,"Mar 11, 2003",82 minutes
34,46,Six guys with nothing left to lose try losing ...,R,Comedy|Musical and Performing Arts,Peter Cattaneo,Simon Beaufoy|Simon Beaufor,"Aug 13, 1997",91 minutes
38,51,"Wait Until Dark is an innovative, highly enter...",NR,Mystery and Suspense,Terence Young,Jane-Howard Carrington|Robert Carrington,"Oct 26, 1967",108 minutes
41,54,Journalist Jep Gambardella (the dazzling Toni ...,NR,Comedy|Drama,Paolo Sorrentino,Paolo Sorrentino|Umberto Contarello,"Nov 15, 2013",142 minutes

## data clean for df_rott_rev

In [95]:
df_rott_rev.shape

(54432, 8)

In [97]:
df_rott_rev.isna().sum()

id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

In [98]:
df_rott_rev.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

### Can drop publisher,critic column  Drop row if review is na

In [100]:
#only records with rating not na
df_rott_rev = df_rott_rev[df_rott_rev['rating'].notna()]

In [101]:
df_rott_rev.isna().sum()

id               0
review        5536
rating           0
fresh            0
critic        1980
top_critic       0
publisher      227
date             0
dtype: int64

In [102]:
df_rott_rev = df_rott_rev[df_rott_rev['review'].notna()]

In [103]:
df_rott_rev.isna().sum()

id               0
review           0
rating           0
fresh            0
critic        1190
top_critic       0
publisher      227
date             0
dtype: int64

In [104]:
df_rott_rev = df_rott_rev.drop(columns=['critic', 'publisher'])

In [105]:
df_rott_rev.isna().sum()

id            0
review        0
rating        0
fresh         0
top_critic    0
date          0
dtype: int64

In [106]:
df_rott_rev.shape

(35379, 6)