## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [2]:
# Your code here - remember to use markdown cells for comments as well!

In [3]:
import pandas as pd
import numpy as nm
from os import listdir

In [4]:
#helper to list all csv or type files in a dir
def find_csv_filenames( path_to_dir, suffix=".csv"):
    filenames = listdir(path_to_dir)
    return [ filename for filename in filenames if filename.endswith( suffix ) ]

#creates dataframes for type specified
def create_df(filelist, suffix=".csv" ):
    for file in filelist:
        file = pd.read_csv(file)

In [5]:
csvfiles = find_csv_filenames('zippedData')
tsvfiles = find_csv_filenames('zippedData','.tsv')
csvfiles

['bom.movie_gross.csv',
 'imdb.name.basics.csv',
 'imdb.title.akas.csv',
 'imdb.title.basics.csv',
 'imdb.title.crew.csv',
 'imdb.title.principals.csv',
 'imdb.title.ratings.csv',
 'tmdb.movies.csv',
 'tn.movie_budgets.csv']

In [6]:
tsvfiles

['rt.movie_info.tsv', 'rt.reviews.tsv']

In [7]:
##Create DataFrames for all files
df_bom = pd.read_csv('zippedData/bom.movie_gross.csv')
df_imdb_name = pd.read_csv('zippedData/imdb.name.basics.csv')
df_imdb_akas = pd.read_csv('zippedData/imdb.title.akas.csv')
df_imdbbasics = pd.read_csv('zippedData/imdb.title.basics.csv')
df_imdb_crew = pd.read_csv('zippedData/imdb.title.crew.csv')
df_imdb_principals = pd.read_csv('zippedData/imdb.title.principals.csv')
df_imdb_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv')
df_tmb = pd.read_csv('zippedData/tmdb.movies.csv')
df_tn_movie_budget = pd.read_csv('zippedData/tn.movie_budgets.csv')
df_rott_info = pd.read_csv('zippedData/rt.movie_info.tsv', sep='\t')
df_rott_rev = pd.read_csv('zippedData/rt.reviews.tsv',encoding= 'unicode_escape', sep='\t')

In [8]:
##Bom Movie DB
bom_df.info()

NameError: name 'bom_df' is not defined

In [ ]:
##Bom data observations
bom_df.head(3)
bom_df.tail(3)

It look as if the data is for 2010 to 2018 movies of domestic and foreign gross in dollars.

In [ ]:
##IMDB
df_imdb_name.info()
df_imdb_akas.info()
df_imdbbasics.info()
df_imdb_crew.info()
df_imdb_principals.info()
df_imdb_ratings.info()

In [ ]:
print(df_imdb_name.head(3))
print(df_imdb_akas.head(3))
df_imdbbasics.tail(3)
df_imdb_crew.head(3)
df_imdb_principals.head(3)
df_imdb_ratings.head(3)

In [ ]:
##The Movie DB
df_tmb.info()

In [ ]:
df_tmb.tail(3)

In [ ]:
##The Numbers
df_tn_movie_budget.info()

In [ ]:
df_tn_movie_budget.tail(3)

In [ ]:
##Rotten Tomatoes
df_rott_info.info()
df_rott_rev.info()

In [ ]:
df_rott_info.head(5)

In [ ]:
df_rott_rev.head(3)

Inspect for Missing Data

In [ ]:
df_bom.describe()
df_imdb_name
df_imdb_akas
df_imdbbasics
df_imdb_crew
df_imdb_principals 
df_imdb_ratings
df_tmb 
df_tn_movie_budget 
df_rott_info
df_rott_rev

In [13]:
df_bom.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [14]:
df_bom.shape

(3387, 5)

In [15]:
df_imdb_name.shape

(606648, 6)

In [16]:
df_imdb_name.isna().sum()

nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64

In [17]:
df_imdb_akas.shape

(331703, 8)

In [18]:
df_imdb_akas.isna().sum()

title_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64

In [19]:
df_imdbbasics.shape

(146144, 6)

In [20]:
df_imdbbasics.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [21]:
df_imdb_crew.shape

(146144, 3)

In [22]:
df_imdb_crew.isna().sum()

tconst           0
directors     5727
writers      35883
dtype: int64

In [23]:
df_imdb_principals.shape

(1028186, 6)

In [24]:
df_imdb_principals.isna().sum()

tconst             0
ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64

In [26]:
df_imdb_ratings.shape

(73856, 3)

In [27]:
df_imdb_ratings.isna().sum()

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [28]:
df_tmb.shape

(26517, 10)

In [29]:
df_tmb.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [30]:
df_tn_movie_budget.shape

(5782, 6)

In [31]:
df_tn_movie_budget.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [32]:
df_rott_info.shape

(1560, 12)

In [33]:
df_rott_info.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [34]:
df_rott_rev.shape

(54432, 8)

In [35]:
df_rott_rev.isna().sum()

id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64