Daniel M. Smith <br>
Movie Studio Project Phase 1 Flatiron School

# Initial Load and Data Cleaning 

In this workbook we:
1. Load the data into pandas DataFrames
2. Inspect and observe the DataFrames
3. Clean and convert the data into appropriate types

## Initial Reading of data files

In [24]:
import pandas as pd
import numpy as nm
from os import listdir
import seaborn as sns

path = '../zippedData/'

In [25]:
#helper to list all csv or type files in a dir
def find_csv_filenames( path_to_dir, suffix=".csv"):
    filenames = listdir(path_to_dir)
    return [ filename for filename in filenames if filename.endswith( suffix ) ]

#creates dataframes for type specified
def create_dfs(filelist, suffix=".csv" ):
    #Read all the files and store in a dataFrame
    # the data Frames for each file will be listed in a dict 
    # where key is the name and value is the df
    dict_csv_files = {}
    
    for filename in csvfiles:
        filename_cleaned = filename.replace(".csv", "").replace(".","_")#cleaning
        filename_df = pd.read_csv(path + filename, index_col = 0, encoding='utf8')
        dict_csv_files[filename_cleaned] = filename_df
    return dict_csv_files

In [26]:
#Create csvfiles, tsvfiles and call createdfs dict
csvfiles = find_csv_filenames(path)
tsvfiles = find_csv_filenames(path,'.tsv')
dict_dfs = create_dfs(csvfiles, suffix=".csv" )

In [140]:
dict_dfs.keys()

dict_keys(['bom_movie_gross', 'imdb_name_basics', 'imdb_title_akas', 'imdb_title_basics', 'imdb_title_crew', 'imdb_title_principals', 'imdb_title_ratings', 'tmdb_movies', 'tn_movie_budgets', 'tn_movie_budgets_changed'])

In [28]:
##Create Working DataFrames
df_bom = dict_dfs['bom_movie_gross']
df_imdb_name = dict_dfs['imdb_name_basics']       
df_imdb_akas = dict_dfs['imdb_title_akas']       
df_imdbbasics = dict_dfs['imdb_title_basics']    
df_imdb_crew = dict_dfs['imdb_title_crew']     
df_imdb_principals = dict_dfs['imdb_title_principals']     
df_imdb_ratings = dict_dfs['imdb_title_ratings']         
df_tmb = dict_dfs['tmdb_movies']                        
df_tn_movie_budget = dict_dfs['tn_movie_budgets']
#Excluding rott.tsvfiles  df_rott_info = dict_dfs(' pd.read_csv('zippedData/rt.movie_info.tsv', sep='\t')
#df_rott_rev = dict_dfs(' pd.read_csv('zippedData/rt.reviews.tsv',encoding= 'unicode_escape', sep='\t')

## Inspect DataFrames
Inspecting the dfs, Noting observations about the data, describing the data types.  
We have 9 DataFrames from the 9 files:  
df_bom  
df_imdb_name   
df_imdb_akas   
df_imdbbasics   
df_imdb_crew  
df_imdb_principals      
df_imdb_ratings          
df_tmb        
df_tn_movie_budget

### Box Office Mojo-df_bom

In [29]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   studio          3382 non-null   object
 1   domestic_gross  3359 non-null   float64
 2   foreign_gross   2037 non-null   object
 3   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 132.3+ KB

In [30]:
df_bom.head(3)

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010

#### Observation df_bom (Box office Mojo) 
It looks as if the data is for 2010 to 2018 movies 
of domestic and foreign gross in dollars.   
Foreign gross needs to be converted to int datatype.

### IMDB name basics-df_imdb_name

In [31]:
df_imdb_name.info()

<class 'pandas.core.frame.DataFrame'>
Index: 606648 entries, nm0061671 to nm9993380
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   primary_name        606648 non-null  object
 1   birth_year          82736 non-null   float64
 2   death_year          6783 non-null    float64
 3   primary_profession  555308 non-null  object
 4   known_for_titles    576444 non-null  object
dtypes: float64(2), object(3)
memory usage: 27.8+ MB

In [32]:
df_imdb_name.head(3)

,primary_name,birth_year,death_year,primary_profession,known_for_titles
nconst,,,,,
nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"

#### Observation df_imdb_name 
It looks as if the data is a name and profession
and known for these movie titles.  
The birth year and death year can be dropped as 
there is a high percentage of data missing from those columns.

### IMDB akas-df_imdb_akas

In [33]:
df_imdb_akas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331703 entries, tt0369610 to tt9880178
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ordering           331703 non-null  int64
 1   title              331703 non-null  object
 2   region             278410 non-null  object
 3   language           41715 non-null   object
 4   types              168447 non-null  object
 5   attributes         14925 non-null   object
 6   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 20.2+ MB

In [34]:
df_imdb_akas.head(3)

,ordering,title,region,language,types,attributes,is_original_title
title_id,,,,,,,
tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0

#### Observation df_imdb_akas
This data looks to be aka movie names in non domestic markets.  There are lots of NaNs.  Should we just look at isoriginal title as 1?  Where does the title_id link to?  Is ok to leave NaNs alone?

### IMDBTitle basics-df_imdbbasics

In [35]:
df_imdbbasics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   primary_title    146144 non-null  object
 1   original_title   146123 non-null  object
 2   start_year       146144 non-null  int64
 3   runtime_minutes  114405 non-null  float64
 4   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.7+ MB

In [36]:
df_imdbbasics.tail(3)

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

#### Observation df_df_imdbbasics
This data has primary title and original title and year and genre of the movie.  Many missing runtime minutes can set to 90 mins?  Main point here is the genre and year and title.

### IMDB Crew-df_imfb_crew

In [37]:
df_imdb_crew.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0285252 to tt9010172
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   directors  140417 non-null  object
 1   writers    110261 non-null  object
dtypes: object(2)
memory usage: 3.3+ MB

In [38]:
df_imdb_crew.head(3)

           directors              writers
tconst
tt0285252  nm0899854            nm0899854
tt0438973        NaN  nm0175726,nm1802864
tt0462036  nm1940585            nm1940585

#### Observation df_df_imdb_crew
This df matches directors and writers to tconst which is primary key in df_imdbbasics and df_imdb_principals.

### IMDB principals - df_imfb_principals

In [39]:
df_imdb_principals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1028186 entries, tt0111414 to tt9692684
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ordering    1028186 non-null  int64
 1   nconst      1028186 non-null  object
 2   category    1028186 non-null  object
 3   job         177684 non-null   object
 4   characters  393360 non-null   object
dtypes: int64(1), object(4)
memory usage: 47.1+ MB

In [40]:
df_imdb_principals.head(3)

           ordering     nconst  category       job   characters
tconst
tt0111414         1  nm0246005     actor       NaN  ["The Man"]
tt0111414         2  nm0398271  director       NaN          NaN
tt0111414         3  nm3739909  producer  producer          NaN

#### Observation df_imdb_principals
This data lists the roles of principals in movies(tconst) to categories and job and characters if they act.            
  Links to df_imdb_crew, df_imdbbasics, df_imdb_name, df_imdb_ratings.             
      nconst links to values in the df_imdb_crew and df_imdb_name listing the directors and writers.

### IMDB ratings-df_imfb_ratings

In [41]:
df_imdb_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73856 entries, tt10356526 to tt9894098
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   averagerating  73856 non-null  float64
 1   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 1.7+ MB

In [42]:
df_imdb_ratings.head(3)

            averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559
tt1042974             6.4        20

#### Observation df_imdb_ratings
Pretty straightforward rating and number of votes.  title tconst links to tconst(title) in other imdb tables.

### TMB-df_tmb

In [43]:
##The Movie DB
df_tmb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [44]:
df_tmb.tail(3)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

#### Observation df_tmb
There are no Nans.  This looks to be good data about the movies and genres.  
Release date is an object and may be converted to a datatime if to be used.  Where to look up genre_ids?


### TN The Numbers-df_tn_movie_budget

In [45]:
##The Numbers
df_tn_movie_budget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie              5782 non-null   object
 2   production_budget  5782 non-null   object
 3   domestic_gross     5782 non-null   object
 4   worldwide_gross    5782 non-null   object
dtypes: object(5)
memory usage: 271.0+ KB

In [46]:
df_tn_movie_budget.head(10)

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

#### Observation df_tn_movie_budget
There are no Nans.  This data is the movies, release date 
and worldwide gross with production budget.    Money data should be converted to 
int and dollas signs removed
Release date is an object and may be converted to a datatime if to be used.

<br><br><br><br><br><br>



## Data Cleaning and Typing
Removing the NanNs, dropping columns which have no importance or too many nans, converting object datatypes to be useful.

### <font color="green">Clean df_bom data</font>

In [47]:
df_bom.isna().sum()

studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [48]:
df_bom.shape

(3387, 4)

In [49]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   studio          3382 non-null   object
 1   domestic_gross  3359 non-null   float64
 2   foreign_gross   2037 non-null   object
 3   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 132.3+ KB

In [50]:
#If NaN setting to 0..
df_bom.fillna(0, inplace=True)

In [51]:
df_bom.isna().sum()

studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

In [52]:
df_bom.info()
#Need to convert the foreign gross to float

<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   studio          3387 non-null   object
 1   domestic_gross  3387 non-null   float64
 2   foreign_gross   3387 non-null   object
 3   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 132.3+ KB

 A Few values needed to be converted to billions

In [53]:
# When converting to numeric foreign gross at line numbers 1872,1873,1874,2760,
#3079 were in a shorthand billions
# ie 1,131.6 for 1131600000.
# this is the quick fix
df_bom.iloc[[1872],[2]] =1131600000.0
df_bom.iloc[[1873],[2]] =1019400000.0
df_bom.iloc[[1874],[2]] =1163000000.0
df_bom.iloc[[2760],[2]] =1010000000.0
df_bom.iloc[[3079],[2]] =1369500000.0

Convert the object number of foreign gross to numeric

In [54]:
#Convert string to numeric values...5 or so of the billions needed to be converted
df_bom['foreign_gross'] = pd.to_numeric(df_bom['foreign_gross'])

In [55]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   studio          3387 non-null   object
 1   domestic_gross  3387 non-null   float64
 2   foreign_gross   3387 non-null   float64
 3   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 132.3+ KB

In [56]:
#creating the worldwide_gross column from the dommestic and foreign gross
df_bom['worldwide_gross'] = df_bom['domestic_gross'] + df_bom['foreign_gross']

In [57]:
df_bom.head()

,studio,domestic_gross,foreign_gross,year,worldwide_gross
title,,,,,
Toy Story 3,BV,415000000.0,652000000.0,2010,1.067000e+09
Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010,1.025500e+09
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010,9.603000e+08
Inception,WB,292600000.0,535700000.0,2010,8.283000e+08
Shrek Forever After,P/DW,238700000.0,513900000.0,2010,7.526000e+08

<font color='green'>Observation</font> Set Foreign gross to 0 if NaN.  If we need we can use the movie budget to look up.
Converted money columns to floats. Created worldwide_gross from domestc and foreign.

### <font color="green">Clean imdb_name data</font>

In [58]:
df_imdb_name.shape

(606648, 5)

In [59]:
df_imdb_name.isna().sum()

primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64

In [60]:
#Can drop birth_year and death year
df_imdb_name = df_imdb_name.drop(columns=['birth_year','death_year'])

drop if both primary_profession and known_for_titles are both Nan

In [61]:
df_imdb_name.isna().sum()

primary_name              0
primary_profession    51340
known_for_titles      30204
dtype: int64

In [62]:
#drop if both primary_profession and known_for_titles are both Nan
col_lst = ['primary_profession', 'known_for_titles']
df_imdb_name.dropna(axis = 0, subset = col_lst, how = 'all', inplace = True)

In [63]:
df_imdb_name.isna().sum()

primary_name              0
primary_profession    41307
known_for_titles      20171
dtype: int64

<font color='green'>Observation</font> lots of NaNs but are supposed to be blank if non applicable.  put in holder value(NA, or job or characters? or 0?  Dropped 'birth_year','death_year'. If NAN for known_for can drop?  Final decision to fill na with 'unknown'

In [64]:
df_imdb_name[df_imdb_name['known_for_titles'].isna()].head()

,primary_name,primary_profession,known_for_titles
nconst,,,
nm10108345,Jiaxi Li,actor,NaN
nm10113099,Greg Quibell,actor,NaN
nm10114259,Vera Prifatamasari,actress,NaN
nm10115487,Laurette De Haan,"director,writer,cinematographer",NaN
nm10115788,Sustraida's Band,composer,NaN

In [65]:
#if there is a Nan in remaining data fill in with unknown
df_imdb_name['known_for_titles'].fillna(value='unknown', inplace=True)
df_imdb_name['primary_profession'].fillna(value='unknown', inplace=True)

In [66]:
df_imdb_name.isna().sum()

primary_name          0
primary_profession    0
known_for_titles      0
dtype: int64

In [67]:
df_imdb_name.shape

(596615, 3)

### <font color="green">Clean imdb_akas data</font>

In [68]:
df_imdb_akas.shape

(331703, 7)

In [69]:
df_imdb_akas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331703 entries, tt0369610 to tt9880178
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ordering           331703 non-null  int64
 1   title              331703 non-null  object
 2   region             278410 non-null  object
 3   language           41715 non-null   object
 4   types              168447 non-null  object
 5   attributes         14925 non-null   object
 6   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 20.2+ MB

In [70]:
#Unsure if this data is useful
#df_imdb_akas = df_imdb_akas[df_imdb_akas['is_original_title'] == 1.0]

In [71]:
df_imdb_akas.isna().sum()

ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64

In [72]:
df_imdb_akas.head(3)

,ordering,title,region,language,types,attributes,is_original_title
title_id,,,,,,,
tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0

In [73]:
set(df_imdb_akas['types'])

{'alternative',
 'dvd',
 'dvd\x02imdbDisplay',
 'festival',
 'festival\x02working',
 'imdbDisplay',
 nan,
 'original',
 'tv',
 'video',
 'working'}

In [74]:
#for NaNs in these columns set to unknown
col_list = ['region','language','types','attributes']
for col in col_list:
    
    df_imdb_akas[col].fillna(value='unknown', inplace=True)

In [75]:
df_imdb_akas.isna().sum()

ordering              0
title                 0
region                0
language              0
types                 0
attributes            0
is_original_title    25
dtype: int64

In [76]:
df_imdb_akas = df_imdb_akas[df_imdb_akas['is_original_title'].notna()]

In [77]:
df_imdb_akas.shape

(331678, 7)

<font color='green'>Actions</font> In columns 'region','language','types','attributes'set Nan to 'unknown 
<br>removed is_original title id Nan

### <font color="green">Clean imdb_basics data</font>

In [78]:
df_imdbbasics.shape

(146144, 5)

In [79]:
df_imdbbasics.isna().sum()

primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [80]:
df_imdbbasics[df_imdbbasics.primary_title.str.match('Don\'t Breathe')].head(50)

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt3958034,Don't Breathe,Don't Breathe,2014,86.0,Documentary
tt4160708,Don't Breathe,Don't Breathe,2016,88.0,"Crime,Horror,Thriller"

In [81]:
df_tn_movie_budget[df_tn_movie_budget.movie.str.match('Tripp')]

    release_date       movie production_budget domestic_gross worldwide_gross
id
96  May 12, 1999  Trippinâ        $3,000,000     $9,017,070      $9,017,070

In [82]:
df_imdbbasics.tail(60)

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt9906644,Manoharam,Manoharam,2019,NaN,"Comedy,Drama"
tt9906696,Footloose in Italy IV: 4 Rimini Tuscany Rome,Footloose in Italy IV: 4 Rimini Tuscany Rome,2016,150.0,NaN
tt9906844,Footloose in England's Lake District,Footloose in England's Lake District,2017,150.0,NaN
tt9907032,Footloose in London II: 2 Undiscovered and Unu...,Footloose in London II: 2 Undiscovered and Unu...,2018,124.0,NaN
tt9907396,Footloose in the Cotswolds - Part 1,Footloose in the Cotswolds - Part 1,2016,118.0,NaN
tt9907608,Footloose in the Cotswolds - Part 2,Footloose in the Cotswolds - Part 2,2016,102.0,NaN
tt9908390,Le lion,Le lion,2020,NaN,Comedy
tt9908448,The Bells of Hell,The Bells of Hell,2018,88.0,"Drama,Fantasy"
tt9908592,Filmmakers Unite (FU),Filmmakers Unite (FU),2018,78.0,Documentary
tt9908636,Das Spiel der Hoffnung,Das Spiel der Hoffnung,2017,100.0,Fantasy
tt9908960,Pliusas,Pliusas,2018,90.0,Comedy
tt9909086,Pheriaa Come Back,Pheriaa Come Back,2018,137.0,Drama
tt9909228,Ximei,Ximei,2019,98.0,Documentary
tt9909424,Razreshite tebya potselovat... Otets nevesty,Razreshite tebya potselovat... Otets nevesty,2014,90.0,Comedy
tt9909650,Hellbiro,Hellbiro,2018,95.0,Comedy
tt9909940,Hot Scent,Hot Scent,2018,NaN,Family
tt9910166,Diseño de Sonido para Cine en Argentina,Diseño de Sonido para Cine en Argentina,2014,54.0,Documentary
tt9910206,Facebook idióták - A Mozifilm,Facebook idióták - A Mozifilm,2017,NaN,"Action,Adventure,Comedy"
tt9910238,Be 5min. vede,Be 5min. vede,2017,80.0,"Comedy,Romance"
tt9910502,Hayatta Olmaz,Hayatta Olmaz,2019,97.0,Comedy
tt9910648,"The Good Americans: One Revolution, Two Nations","The Good Americans: One Revolution, Two Nations",2019,NaN,Documentary
tt9910688,"Luz, Câmera e Barreto","Luz, Câmera e Barreto",2018,NaN,Documentary
tt9910778,DK Bose,DK Bose,2019,117.0,Comedy
tt9910922,Doctor Who Augmented Reality: Times Magazine,Doctor Who Augmented Reality: Times Magazine,2013,NaN,NaN
tt9910930,Jeg ser deg,Jeg ser deg,2019,75.0,"Crime,Documentary"
tt9911006,Ormma,Ormma,2019,127.0,Drama
tt9911046,The Saving,The Saving,2019,NaN,"Action,Drama"
tt9911196,De Beentjes van Sint Hildegard,De Beentjes van Sint Hildegard,2019,NaN,Drama
tt9911306,Kalikkoottukar,Kalikkoottukar,2019,145.0,"Drama,Romance"
tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama
tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary
tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary
tt9913248,Nepal - Homebird,Nepal - Homebird,2019,52.0,Documentary
tt9913418,Fragments,Fragments,2019,NaN,"Drama,Mystery,Sci-Fi"
tt9913572,Marley G Documentary,Marley G Documentary,2019,NaN,Documentary
tt9913594,Bacchanalia,Bacchanalia,2017,72.0,"Drama,Mystery,Thriller"
tt9913936,Paradise,Paradise,2019,NaN,"Crime,Drama"
tt9914254,A Cherry Tale,Kirsebæreventyret,2019,85.0,Documentary
tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family"
tt9914368,Kuttram Seiyel,Kuttram Seiyel,2019,NaN,"Action,Crime"
tt9914522,The Holden Family Plan,The Holden Family Plan,2019,NaN,"Drama,Family"
tt9914642,Albatross,Albatross,2017,NaN,Documentary
tt9914644,9/11: Escape from the Towers,9/11: Escape from the Towers,2018,120.0,Documentary
tt9914662,Wien is 't Hof van Commerce,Wien is 't Hof van Commerce,2018,NaN,Comedy
tt9914828,The War of Godzilla,The War of Godzilla,2015,102.0,"Action,Comedy,Family"
tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN
tt9915436,Vida em Movimento,Vida em Movimento,2019,70.0,Documentary
tt9915790,Bobbyr Bondhura,Bobbyr Bondhura,2019,NaN,Family
tt9915872,The Last White Witch,The Last White Witch,2019,97.0,"Comedy,Drama,Fantasy"
tt9916132,The Mystery of a Buryat Lama,The Mystery of a Buryat Lama,2018,94.0,"Biography,Documentary,History"
tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary
tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama
tt9916186,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,84.0,Documentary
tt9916190,Safeguard,Safeguard,2019,90.0,"Drama,Thriller"
tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War"
tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [83]:
df_imdbbasics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   primary_title    146144 non-null  object
 1   original_title   146123 non-null  object
 2   start_year       146144 non-null  int64
 3   runtime_minutes  114405 non-null  float64
 4   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.7+ MB

In [84]:
#for NaNs in these columns set to unknown
col_list = ['genres','original_title']
for col in col_list:
    
    df_imdbbasics[col].fillna(value='unknown', inplace=True)

In [85]:
#If runtime minutes missing set to 89.5 minutes
df_imdbbasics['runtime_minutes'].fillna(89.5,inplace=True)

In [86]:
df_imdbbasics.isna().sum()

primary_title      0
original_title     0
start_year         0
runtime_minutes    0
genres             0
dtype: int64

<font color='green'>Actions</font> In columns 'genres','original_title' set Nan to 'unknown 
<br>if runtime minutes set to 89.5 if Nan

### <font color="green">Clean imdb_crew data</font>

In [87]:
df_imdb_crew.shape

(146144, 2)

In [88]:
df_imdb_crew.isna().sum()

directors     5727
writers      35883
dtype: int64

In [89]:
df_imdb_crew.head(5)

                               directors              writers
tconst
tt0285252                      nm0899854            nm0899854
tt0438973                            NaN  nm0175726,nm1802864
tt0462036                      nm1940585            nm1940585
tt0835418                      nm0151540  nm0310087,nm0841532
tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [90]:
df_imdb_crew.shape

(146144, 2)

In [91]:
df_imdb_crew = df_imdb_crew[df_imdb_crew['directors'].notna() 
                            | df_imdb_crew['writers'].notna()]

In [92]:
#for NaNs in these columns set to unknown
col_list = ['directors','writers']
for col in col_list:
    df_imdb_crew[col].fillna(value='unknown', inplace=True)

C:\Users\dsmith\anaconda3\envs\learn-env\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [93]:
df_imdb_crew.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141670 entries, tt0285252 to tt9010172
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   directors  141670 non-null  object
 1   writers    141670 non-null  object
dtypes: object(2)
memory usage: 3.2+ MB

<font color='green'>Actions</font> If directors and writers are NaN drop row(4474 rows).  If then if directors is Nan replace with holder 'unknown'.  If writers is Nan replace with unknown.

### <font color="green">Clean imdb_principals data</font>

In [94]:
df_imdb_principals.shape

(1028186, 5)

In [95]:
df_imdb_principals.tail()

           ordering      nconst  category       job            characters
tconst
tt9692684         1   nm0186469     actor       NaN  ["Ebenezer Scrooge"]
tt9692684         2   nm4929530      self       NaN   ["Herself","Regan"]
tt9692684         3  nm10441594  director       NaN                   NaN
tt9692684         4   nm6009913    writer    writer                   NaN
tt9692684         5  nm10441595  producer  producer                   NaN

In [96]:
df_imdb_principals.isna().sum()

ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64

In [97]:
#for NaNs in these columns set to unknown
col_list = ['job','characters']
for col in col_list:
    df_imdb_principals[col].fillna(value='unknown', inplace=True)

In [98]:
df_imdb_principals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1028186 entries, tt0111414 to tt9692684
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ordering    1028186 non-null  int64
 1   nconst      1028186 non-null  object
 2   category    1028186 non-null  object
 3   job         1028186 non-null  object
 4   characters  1028186 non-null  object
dtypes: int64(1), object(4)
memory usage: 47.1+ MB

<font color='green'>Actions</font> replaced columns job and characters if Nan to 'unknown'

### <font color="green">Clean imdb_ratings data</font>

In [99]:
df_imdb_ratings.shape

(73856, 2)

In [100]:
df_imdb_ratings.isna().sum()

averagerating    0
numvotes         0
dtype: int64

In [101]:
df_imdb_ratings.head()

            averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559
tt1042974             6.4        20
tt1043726             4.2     50352
tt1060240             6.5        21

In [102]:
df_imdb_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73856 entries, tt10356526 to tt9894098
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   averagerating  73856 non-null  float64
 1   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 1.7+ MB

<font color=green>Actions</font> All Clean.  No missing data in this lookup table

### <font color="green">Clean df_tmb data</font>

In [103]:
df_tmb.shape

(26517, 9)

In [104]:
df_tmb.isna().sum()

genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [105]:
df_tmb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [106]:
df_tmb.head(3)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368

<font color=green>Actions:</font> Clean Data Note: Convert release date to datetime when using

### <font color="green">Clean df_tn_movie_budget data</font>

In [107]:
df_tn_movie_budget.shape

(5782, 5)

In [108]:
df_tn_movie_budget.isna().sum()

release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [109]:
df_tn_movie_budget.head(10)

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

In [110]:
for col in df_tn_movie_budget:
    print(col)
    print(df_tn_movie_budget[col].value_counts(normalize = True)[:5])
    print("===================================")

release_date
Dec 31, 2014    0.004151
Dec 31, 2015    0.003978
Dec 31, 2010    0.002594
Dec 31, 2008    0.002421
Dec 31, 2012    0.002248
Name: release_date, dtype: float64
===================================
movie
Home                            0.000519
King Kong                       0.000519
Halloween                       0.000519
Teenage Mutant Ninja Turtles    0.000346
Crash                           0.000346
Name: movie, dtype: float64
===================================
production_budget
$20,000,000    0.039952
$10,000,000    0.036666
$30,000,000    0.030612
$15,000,000    0.029920
$25,000,000    0.029575
Name: production_budget, dtype: float64
===================================
domestic_gross
$0             0.094777
$8,000,000     0.001557
$7,000,000     0.001211
$2,000,000     0.001211
$10,000,000    0.001038
Name: domestic_gross, dtype: float64
===================================
worldwide_gross
$0             0.063473
$8,000,000     0.001557
$7,000,000     0.001038
$2,000,000     0.001038
$11,000,000    0.000692
Name: worldwide_gross, dtype: float64
===================================

Domectic gross has 9.4 % of zero values.  Similiar to worldwide gross.  

Will need to address.

look at budget data in bom, rott, tn
df_tn_movie_budget[df_tn_movie_budget['domestic_gross'] > 500000000.0]

In [111]:
#Convert the object columns to ints where we can manipulate mathematically
#money string to ints
def money_to_float(df,col):
    df[col] = df[col].astype(str).str.replace("$", "").str.replace(",", "").astype('float')
    return df

In [112]:
money_cols = ['production_budget','domestic_gross', 'worldwide_gross']

for col in money_cols:
    df_tn_movie_budget = money_to_float(df_tn_movie_budget,col)

In [113]:
df_tn_movie_budget.head(3)

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08

In [114]:
df_tn_movie_budget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie              5782 non-null   object
 2   production_budget  5782 non-null   float64
 3   domestic_gross     5782 non-null   float64
 4   worldwide_gross    5782 non-null   float64
dtypes: float64(3), object(2)
memory usage: 271.0+ KB

<font color=green>Actions</font> Converted string currrency to float values. Convert release date to datetime when using

### Save cleaned files as tidy files

<font color=green>Action:</font> For each of the cleaned DataFrames save the df tidy.csv.
<br>Will not have to keep the original .gz files and can load the cleaned files in EDA.

In [138]:
#dicts of dfname and df
def create_df_dict(namelist,dflist):
    dict_df_names = dict(zip(namelist, dflist))
    return dict_df_names 

#takes a dict and saves all to csvs per savepath
def save_dict_tocsv(savepath, dict_dfs, suffix):
    for key,value in dict_dfs.items():
        value.to_csv(path_or_buf = savepath 
                     + key +'_tidy' + suffix, encoding='utf8')

In [139]:
##List of Cleaned dfs
dfs_tidy_dict = [df_bom,df_imdb_name,df_imdb_akas,df_imdbbasics,df_imdb_crew,  
       df_imdb_principals,df_imdb_ratings,df_tmb,df_tn_movie_budget]
dfs_names = ['df_bom','df_imdb_name','df_imdb_akas','df_imdbbasics','df_imdb_crew',  
       'df_imdb_principals','df_imdb_ratings','df_tmb','df_tn_movie_budget']
savepath = '../data/'

dict_cleaned_dfs = create_df_dict(dfs_names, dfs_tidy_dict)
save_dict_tocsv('../data/', dict_cleaned_dfs,'.csv' )

EDA in eda_notebook.ipynb